{
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "tailwindFunctions": ["cn", "cva", "palette"],
  "importOrder": [
    "^@mui/(.*)$",
    "^@untitled-ui/(.*)$",
    "^react",
    "^src/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
