@import 'tailwindcss';
@import './primitive.css';

@theme {
  --color-avatar-gray: #bdbdbd;
  --color-avatar-warning: #ef9a9a;
  --color-avatar-blue: #90caf9;
  --color-avatar-green: #a5d6a7;
  --color-avatar-purple: #b39dda;
  --color-avatar-orange: #ffcc80;
  --color-avatar-label: #ffffff;
}

@layer theme {
  .dark {
    --color-avatar-gray: #686868;
    --color-avatar-warning: #db6767;
    --color-avatar-blue: #5da1d8;
    --color-avatar-green: #67b96a;
    --color-avatar-purple: #8767c3;
    --color-avatar-orange: #e09f3f;
  }
}
