@import 'tailwindcss';

@theme {
  --color-mss-selected-default-background: #ffffff;
  --color-mss-selected-default-label: #000000;
  --color-mss-default-default-background: #e7e7e7;
  --color-mss-default-default-label: #6d6d6d;

  --color-mss-selected-disabled-background: #e1e1e1;
  --color-mss-selected-disabled-label: #b0b0b0;
  --color-mss-default-disabled-background: #d1d1d1;
  --color-mss-default-disabled-label: #b0b0b0;
}

@layer theme {
  .dark {
    --color-mss-selected-default-background: #151515;
    --color-mss-selected-default-label: #ffffff;
    --color-mss-default-default-background: #2b2b2b;
    --color-mss-default-default-label: #9b9b9b;

    --color-mss-selected-disabled-background: #1a1a1a;
    --color-mss-selected-disabled-label: #484848;
    --color-mss-default-disabled-background: #2b2b2b;
    --color-mss-default-disabled-label: #484848;
  }
}
