@import 'tailwindcss';
@import './styles/primitive.css';
@import './styles/button.css';
@import './styles/input.css';
@import './styles/multi-state-switch.css';
@import './styles/modal.css';
@import './styles/checkbox.css';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *, .dark, .dark *));

@layer base {
  html {
    font-family: Pretendard, 'Noto Sans SC', sans-serif;
  }
}

@theme {
  --color-label: var(--color-black);

  /* Semantic Colors */
  /* Avatar Colors */
  --color-avatar-gray: #bdbdbd;
  --color-avatar-red: #ef9a9a;
  --color-avatar-blue: #90caf9;
  --color-avatar-green: #a5d6a7;
  --color-avatar-purple: #b39dda;
  --color-avatar-orange: #ffcc80;
  --color-avatar-label: #ffffff;

  /* Back Button Color */
  --color-back-button: #5d5d5d;

  /* Funnel Layout Colors */
  --color-funnel-background: #ffffff;
  --color-funnel-shadow: #ffffff;
  --color-funnel-title: #5d5d5d;
  --color-funnel-steptitle: #0e0e0e;
  --color-funnel-description: #6d6d6d;

  /* Label Colors */
  --color-label-required: #ff2534;
  --color-label-text: #3d3d3d;

  /* Dialog Colors */
  --color-dialog-background: #ffffff;

  /* Switch Colors */
  --color-switch-track-background: #d1d1d1;
  --color-switch-track-background-checked: #ff5f0a;
  --color-switch-track-disabled-background: #b0b0b0;
  --color-switch-track-disabled-background-checked: #b0b0b0;
  --color-switch-track-disabled-checked-children: #ffffff;
  --color-switch-handle-background: #ffffff;
  --color-switch-handle-background-disabled: #6d6d6d;

  /* Toast Colors */
  --color-toast-background: #ffffff;
  --color-toast-text: #000000;
  --color-toast-border: #d1d1d1;
}

@layer theme {
  .dark {
    --color-label: var(--color-white);

    /* Back Button Color */
    --color-back-button: #ffffff;

    /* Avatar Colors */
    --color-avatar-label: #000000;

    /* Funnel Layout Colors */
    --color-funnel-background: #1a1a1a;
    --color-funnel-shadow: #1a1a1a;
    --color-funnel-title: #ffffff;
    --color-funnel-steptitle: #ffffff;
    --color-funnel-description: #b0b0b0;

    /* Label Colors */
    --color-label-required: #ff2534;
    --color-label-text: #ffffff;

    /* Dialog Colors */
    --color-dialog-background: #1a1a1a;

    /* Switch Colors */
    --color-switch-track-background: #d1d1d1;
    --color-switch-track-background-checked: #ff5f0a;
    --color-switch-track-disabled-background: #4f4f4f;
    --color-switch-track-disabled-background-checked: #4f4f4f;
    --color-switch-track-disabled-checked-children: #ffffff;
    --color-switch-handle-background: #d1d1d1;
    --color-switch-handle-background-disabled: #6d6d6d;

    /* Toast Colors */
    --color-toast-background: #1a1a1a;
    --color-toast-text: #ffffff;
    --color-toast-border: #454545;
  }
}

@keyframes ping1 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes ping2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes ping3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.animate-ping1 {
  animation: ping1 1.2s ease-in-out infinite;
}

.animate-ping2 {
  animation: ping2 1.2s ease-in-out infinite;
  animation-delay: 0.4s;
}

.animate-ping3 {
  animation: ping3 1.2s ease-in-out infinite;
  animation-delay: 0.8s;
}
