@import 'tailwindcss';
@import './styles/primitive.css';
@import './styles/button.css';
@import './styles/input.css';
@import './styles/multi-state-switch.css';
@import './styles/modal.css';
@import './styles/checkbox.css';
@import './styles/switch.css';
@import './styles/toast.css';
@import './styles/avatar.css';
@import './styles/label.css';
@import './styles/funnel-layout.css';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *, .dark, .dark *));

@layer base {
  html {
    font-family: Pretendard, 'Noto Sans SC', sans-serif;
  }

  body {
    background-color: var(--color-funnel-background);
  }
}

@theme {
  --color-label: var(--color-black);
  --color-basics-primary-label: var(--color-black);
  --color-basics-secondary-label: var(--color-neutral-400);
  --color-basics-tertiary-label: var(--color-neutral-200);
  --color-basics-error-label: var(--color-warning-400);

  /* Back Button Color */
  --color-back-button: var(--color-neutral-600);
}

@layer theme {
  .dark {
    --color-label: var(--color-white);
    --color-basics-primary-label: var(--color-white);
    --color-basics-secondary-label: var(--color-neutral-400);
    --color-basics-tertiary-label: var(--color-neutral-920);
    --color-basics-error-label: var(--color-warning-400);

    /* Back Button Color */
    --color-back-button: var(--color-white);
  }
}

@keyframes ping1 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes ping2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes ping3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.animate-ping1 {
  animation: ping1 1.2s ease-in-out infinite;
}

.animate-ping2 {
  animation: ping2 1.2s ease-in-out infinite;
  animation-delay: 0.4s;
}

.animate-ping3 {
  animation: ping3 1.2s ease-in-out infinite;
  animation-delay: 0.8s;
}
