name: Production Deploy

on:
  release:
    types:
      - released

jobs:
  preview-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - name: build
        run: |
          bun install
          bun run build -- --mode production
      - name: Upload
        uses: actions/upload-pages-artifact@v4
        with:
          path: dist
      - name: Deploy to production
        uses: actions/deploy-pages@v4
